.Survey {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    @media (max-width: 750px) {
        padding: 0 2.5rem;
    }
    .Survey-title {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        animation: entring 500ms ease-in-out 0s 1;
        .Survey-title-text {
            font-size: 3.5rem;
            color: #e3e3e3;
            filter: drop-shadow(1px 2px 3px black);
            @media (max-width: 750px) {
                font-size: 2rem;
            }
        }
        &--options {
            width: 100%;
            margin-top: 5rem;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: space-evenly;
            @media (max-width: 700px) {
                margin-top: 3rem;
            }
        }
    }
    footer {
        width: 100%;
        display: flex;
        @media (max-width: 550px) {
            flex-direction: column-reverse;
            align-items: center;
        }
        justify-content: space-between;
        align-items: flex-end;
    }
}

@keyframes entring {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}