.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
        width: 15%;
        filter: drop-shadow(2px 4px 7px black);
    }
    h2.astro {
        color: #00ffdd;
        font-size: 2.5rem;
        filter: drop-shadow(2px 2px 7px black);
    }
}

@media (max-width: 551px) {
    .logo {
        justify-content: center;
    }
}

@media (min-width: 1220px) {
    .logo {
        justify-content: flex-end;
    }
}

@media (max-width: 674px) {
    .logo {
        h2.astro {
            font-size: 2rem;
        }
    }
}